.training {
	margin: 65px 0 136px 0;
}
.training-block {
	border: 2px solid var(--beige, #FFEDE4);
	max-width: 1085px;
   margin: 14px auto;
	padding: 33px 80px;
}
.items-training {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.items-training__img {
	flex: 0 0 50%;
    position: relative;
    min-height: 545px;
	 max-width: 380px;
	 margin: 0 50px 0 0;
}
.img-training {
	border-radius: 200px 0px;
	width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.info-training {
	max-width: 485px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
.info-training__title{
	color:  #FFEDE4;
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 30px 0;
}
.info-training__subtitle{
	color: #FFEDE4;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	margin: 0 0 30px 0;
}
.picture-training{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 0 30px 0;
	align-items: center;
}
.picture-training__number1 {
	background-image: url(../../../img/components/icon10.svg);
	background-repeat: no-repeat;
   background-position: 0 10px;
   background-size: auto;
	padding: 20px 0 20px 75px;
}
.picture-training__number2 {
	background-image: url(../../../img/components/icon14.png);
	background-repeat: no-repeat;
   background-position: 0 10px;
   background-size: auto;
	padding: 20px 0 20px 75px;
}
.picture-training__number3 {
	background-image: url(../../../img/components/icon9.png);
	background-repeat: no-repeat;
   background-position: 0 10px;
   background-size: auto;
	padding: 20px 0 20px 75px;
}
.picture-training__number4 {
	background-image: url(../../../img/components/icon13.png);
	background-repeat: no-repeat;
   background-position: 0 10px;
   background-size: auto;
	padding: 20px 0 20px 75px;
}
.picture-training__time {
	background-image: url(../../../img/components/icon4.svg);
	background-repeat: no-repeat;
   background-position: 0 10px;
   background-size: 40px 30px;
	padding: 15px 0 15px 55px;
}
.picture-training__gift {
	background-image: url(../../../img/components/icon3.png);
	background-repeat: no-repeat;
   background-position: 0 10px;
   background-size: 40px 30px;
	padding: 15px 0 15px 55px;
}
.picture-training__text {
	color: #FFEDE4;
	font-size: 16px;
	font-weight: 500;
}
.info-training__price {
	color: #FFEDE4;
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 30px 0;
}
.button-training {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.button-training__blu {
	background-color: #1E7689;
	border: 2px solid var(--beige, #FFEDE4);	
	display: block;
	font-size: 20px;
	font-weight: 500;
	padding: 15px 25px;
	transition: all 0.3s ease 0s;
}
.button-training__blu a{
	color:  #FFEDE4;
}
.button-training__blu a:hover{
	color: #1E7689;
}
.button-training__blu:hover{
	background-color:  #FFEDE4;
	border: none;
	box-shadow: none;
}
@media screen and (max-width: 1000px) {
	.training-block {
		padding:  50px 33px;
	}
}
@media screen and (max-width: 992px){
	.training {
		margin: 35px 0 86px 0;
	}
	.items-training__img {
		 min-height: 465px;
		 max-width: 325px;
	}
	.items-training__img {
		 margin: 0 30px 0 0;
	}
	.img-training {
		border-radius: 150px 0px;
	}
}
@media screen and (max-width: 768px) {
	.training {
		margin: 5px 0 56px 0;
	}
	.items-training__img {
		min-height: 355px;
		max-width: 245px;
   }
  	.info-training__title{
		font-size: 20px;
	}
	.info-training__subtitle{
		font-size: 16px;
	}
	.img-training {
		border-radius: 100px 0px;
	}
	.button-training__blu {
		font-size: 16px;
	}
	.training-block {
		padding:  40px 13px;
	}
}
@media screen and (max-width: 576px) {
	.training {
		margin: -15px 0 36px 0;
	}
	.items-training__img {
		min-height: 200px;
		max-width: 290px;
  }
}
@media screen and (max-width: 385px) {
	
}