.reviews {
    padding: 54px 0 75px 0;
    background-color: #ffede4;
}

.reviews__slider {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.slider-block {
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
}

.slider-block.active {
    opacity: 1;
}

.slider-block__img img {
    border-radius: 30px;
    max-width: 100%;
    max-height: 100%;
}

.detal-spoiler {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
}

.slider-block__button_next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.slider-block__button_previes {
    position: absolute;
    top: 50%;
    left: 10px;
    cursor: pointer;
    transform: translateY(-50%) rotate(-180deg);
}
.detal-spoiler__text {
    font-size: 16px;
    margin: 0 15px 0 0;
}
.slick-initialized .slick-slide {
    justify-content: center;
    display: flex;
}
.slick-dots {
    display: none;
	 bottom: -55px;
}
