.customOption {
    background-color: var(--main-bg);
    cursor: pointer;
	 display: flex;
	 margin: -3px 0;
	 padding: 7px 30px;
	 align-items: center;
	 justify-content: center;
}

.customOptionLabel {
	flex: 1 1 auto;
}



