@font-face {
    font-family: vetrino;
    src: url(../../public/Vetrino.ttf);
}

.vetrino {
    font-family: vetrino;
}

body {
    background-color: var(--main-bg);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tlt {
    color: var(--second-bg);
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 50px 0;
}

.btn {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 25px;
    background-color: var(--second-bg);
    transition: all 0.3s ease 0s;
    min-width: 175px;
}

.btn a {
    color: var(--main-bg);
}

.btn:hover {
    font-weight: 600;
    box-shadow: 4px 2px 6px 0px rgba(255, 237, 228, 0.35);
}

.whom__title {
    color: #011e26;
}

.button-training__blu {
    background-color: var(--main-bg);
    border: 2px solid var(--beige, var(--second-bg));
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 25px;
    transition: all 0.3s ease 0s;
}

/* Liza: напевно, це можна об'єднати з селектором, який вище */
.button-training__blu {
    color: var(--second-bg);
}

.button-training__blu:hover {
    background-color: var(--second-bg);
    border: none;
    box-shadow: none;
    color: var(--main-bg);
}

@media screen and (max-width: 1000px) {
    .container {
        max-width: 930px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 610px;
    }
    .btn {
        font-size: 16px;
    }
    .tlt {
        font-size: 30px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 460px;
    }
}

@media screen and (max-width: 385px) {
    .container {
        max-width: 340px;
    }
}
