.main-block {
  display: flex;
  padding: 91px 0 135px 0;
  position: relative;
  margin: 115px 0 90px 0;
}
.main {
  background-image: url(../../../img/components/icon16.svg);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: auto;
}
.main-block__text {
  z-index: 2;
}
.title-main_up {
  color: #011e26;
  font-size: 50px;
  font-weight: 400;
  background-color: #ffede4;
  padding: 7px 10px;
  margin: 0 0 40px 0;
}
.title-main_down {
  color: #011e26;
  font-size: 50px;
  font-weight: 400;
  background-color: #ffede4;
  padding: 7px 10px;
  max-width: 580px;
}
.text-main__button {
  margin: 80px 0 0 0;
}
.main-block__img {
  position: absolute;
  top: 0;
  right: -150px;
  overflow: hidden;
  height: 695px;
  object-fit: cover;
  display: flex;
  justify-content: flex-end;
}
.main-block__img1,
.main-block__img2 {
  height: 100%;
  object-fit: cover;
  position: relative;
  padding: 0 0 15% 0;
  overflow: hidden;
  object-position: right;
}
.main-block__img1 {
  margin: 0 20px 0 0;
}
@media screen and (max-width: 992px) {
  .title-main_up,
  .title-main_down {
    font-size: 40px;
  }
  .title-main_down {
    max-width: 470px;
  }
}
@media screen and (max-width: 768px) {
  .main-block__img2 {
    display: none;
  }
  .main-block__img1 {
    margin: 0 0px 0 0;
    padding: 0 0 30% 0;
  }
  .title-main_up,
  .title-main_down {
    font-size: 30px;
  }
  .title-main_down {
    max-width: 360px;
  }
}
@media screen and (max-width: 576px) {
  .title-main_up,
  .title-main_down {
    font-size: 20px;
  }
  .title-main_down {
    max-width: 250px;
  }
  .main-block__img1 {
    padding: 0 0 40% 0;
  }
}
