.faq {
    margin: 75px 0;
    padding: 75px 0;
}

.faq__block {
    display: flex;
    flex-direction: column;
}

.block-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 25px 0;
}

.block-main__question span {
    color: var(--second-bg);
    font-size: 20px;
    font-weight: 400;
    margin: 0 145px 0 0;
}

.block-main__question img.active {
    transform: rotate(-180deg);
    transition: all 0.3s ease 0s;
}

.block-main__question img {
    transition: all 0.3s ease 0s;
}

.block-main__question {
    border: 1px solid var(--beige, var(--second-bg));
    background-color: var(--main-bg);
    width: 900px;
    padding: 28px 30px 28px 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-main__answer p {
    text-align: center;
    border: 1px solid #011e26;
    background-color: var(--second-bg);
    padding: 28px 52px;
}

.block-main__answer {
    padding: 18px 52px;
    background-color: var(--second-bg);
    width: 845px;
    margin: 5px 0 0 0;
    opacity: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition:
        opacity 0.3s ease-in-out,
        height 0.3s 0.3s ease-in-out;
}

.block-main__answer.animated {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
